@import 'normalize.css';
html,body{
  overflow:hidden
}
html {
  font-size: 14px;
  line-height: 1.75;
  position: relative;
}

body {
  max-width: 80ch;
  padding: 1em;
  margin: auto;
}
*,
:before,
:after {
  border-width: 0;
  border-style: solid;
  border-color: #7d7d7d4d;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-meta {
  text-align: right;
  margin:.5em 0;
}

/* table start */

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper{
  overflow-x: auto;
}

/* table end */


/* scroll-bar */
::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
  background: #fff;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb
}