.footer {
    margin-top:10em;
    margin-bottom:1em;
    /* border: 1px solid #eeeeee; */
    border-top:1px solid #eee;
    font-size: 14px;
    background-color: #fff;
    color: #262626;
    padding: .5em;
}
.footer h1{
    margin: .2em
}
.footer h2{
    margin: .1em
}
.footer h3{
    margin: .05em
}

.container {
  width: 100%;
  margin: 0 auto;
}

.footer-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}

.footer-menu li:last-child {
  margin-right: 0;
}

.footer-menu a {
  text-decoration: none;
  margin-bottom: 20px;
}

.social-icons {
  list-style: none;
  display:inline-flex;
  align-items: center;
  gap:.5em;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display:inline-flex;
  align-items: center;
  gap:.2em;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  .footer-menu {
    text-align: left;
  }
  .footer-menu li {
    display: block;
    margin-bottom: 10px;
  }
}

.attribute {
  position: absolute;
  bottom: 10px;
}
