#homepage {
  li {
    /* white-space: nowrap; */
  }
  a{
    /* max-width: 27ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block; */
  }
  h1{
    margin:.5em 0 1em 0;
  }
  h2{
    margin:.5em 0 1em 0;
  }

  p#more-posts{
    display:block;
    border:1px solid var(--c-border-color);
    border-radius:10px;
    padding:1em;
    text-align:left
  }
  time{
    font-size:0.875em;
    color:#b6b6b6;
  }
  .banner-image{
    margin:1em 0
  }
}
