#post-list {
  padding: 0 0 2rem 0;

  li {
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-position:inside; */
    display: flex;
    flex-direction: column;

    .info {
      flex-shrink: 0;
      font-family: Courier, monospace, 'Courier New';
      color: #b6b6b6;
      font-size: 0.875em;
    }
  }

  @media (min-width: 640px) {
    li {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

h2 {
  font-optical-sizing: auto;
  font-style: normal;
}



li:hover {
  background-color: var(--c-border-color);
}

ul,
ol,
ul ul {
  padding-inline-start: 0em;
}

h2 {
  margin: .5em 0 1em 0;
}
}