---
layout: base.njk
---

<section id="archieve">
    {% set entries = homepage.category %}
    {% include "menu.njk" %}
</section>

<script>
    localStorage.setItem('_HISTORY', JSON.stringify([location.origin + location.pathname]))
</script>
