{# Lucide Icons 宏定义 #}

{% macro home() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
    <polyline points="9 22 9 12 15 12 15 22"/>
</svg>
{% endmacro %}

{% macro arrowLeft() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <line
        x1="19"
        y1="12"
        x2="5"
        y2="12"
    />
    <polyline points="12 19 5 12 12 5"/>
</svg>
{% endmacro %}

{% macro archive() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <rect
        x="3"
        y="3"
        width="18"
        height="18"
        rx="2"
        ry="2"
    />
    <line
        x1="3"
        y1="9"
        x2="21"
        y2="9"
    />
    <line
        x1="9"
        y1="21"
        x2="9"
        y2="9"
    />
</svg>
{% endmacro %}

{% macro folder() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"/>
</svg>
{% endmacro %}

{% macro clock() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <circle
        cx="12"
        cy="12"
        r="10"
    />
    <polyline points="12 6 12 12 16 14"/>
</svg>
{% endmacro %}

{% macro tag() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"/>
    <line
        x1="7"
        y1="7"
        x2="7.01"
        y2="7"
    />
</svg>
{% endmacro %}

{% macro list() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <line
        x1="8"
        y1="6"
        x2="21"
        y2="6"
    />
    <line
        x1="8"
        y1="12"
        x2="21"
        y2="12"
    />
    <line
        x1="8"
        y1="18"
        x2="21"
        y2="18"
    />
    <line
        x1="3"
        y1="6"
        x2="3.01"
        y2="6"
    />
    <line
        x1="3"
        y1="12"
        x2="3.01"
        y2="12"
    />
    <line
        x1="3"
        y1="18"
        x2="3.01"
        y2="18"
    />
</svg>
{% endmacro %}

{% macro hike() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
>
    <path fill="currentColor" d="m10.9 15l-1.625 7.2q-.075.35-.363.575T8.25 23q-.5 0-.8-.375t-.2-.85L10.075 7.45q.15-.725.675-1.088T11.85 6t1.063.25t.787.75l1 1.6q.45.725 1.163 1.312t1.637.863V9.75q0-.325.213-.537T18.25 9t.538.213t.212.537v12.5q0 .325-.213.538T18.25 23t-.537-.213t-.213-.537v-9.4q-1.2-.275-2.225-.875T13.5 10.5l-.6 3l1.8 1.7q.15.15.225.338t.075.387V22q0 .425-.288.713T14 23t-.712-.288T13 22v-5zm-4.45-2.05l-1.15-.225q-.4-.075-.625-.413t-.15-.762l.75-3.925q.15-.85.9-1.287T7.8 6.075q.425.075.638.413t.137.762l-.95 4.9q-.075.425-.412.65t-.763.15M13.5 5.5q-.825 0-1.412-.587T11.5 3.5t.588-1.412T13.5 1.5t1.413.588T15.5 3.5t-.587 1.413T13.5 5.5"/>
</svg>
{% endmacro %}

{% macro startDot() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <circle
        cx="12"
        cy="12"
        r="9"
    />
    <circle
        cx="12"
        cy="12"
        r="4"
        fill="currentColor"
    />
</svg>
{% endmacro %}

{% macro endFlag() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 256 256"
    fill="currentColor"
    stroke="none"
>
    <path d="M227.32 48.75a8 8 0 0 0-8.56 1.25c-28 24.22-51.72 12.48-79.21-1.13C111.07 34.76 78.78 18.79 42.76 50A8 8 0 0 0 40 56v168a8 8 0 0 0 16 0v-44.23c26.79-21.16 49.87-9.75 76.45 3.41c16.4 8.11 34.06 16.85 53 16.85c13.93 0 28.54-4.75 43.82-18a8 8 0 0 0 2.76-6V56a8 8 0 0 0-4.71-7.25M56 160.44v-50.56c16.85-11.28 32.64-11.59 48-7.34v51.74c-15.13-3.81-31.13-3.57-48 6.16m48-109.57c9.25 2.83 18.61 7.45 28.45 12.32c11.26 5.57 23.11 11.43 35.55 14.56v51.74c15.35 4.25 31.14 3.94 48-7.35v50.11c-16.87 13.32-32.27 13.72-48 8.91v-51.67c-21.62-6-42.38-21-64-26.95Z"/>
</svg>
{% endmacro %}

{% macro checkpoint() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="currentColor"
    stroke="none"
>
    <path d="M5.5 3A.75.75 0 0 0 4 3v18a.75.75 0 0 0 1.5 0v-6.438l13.241-3.883c1.679-.492 1.679-2.866 0-3.358L5.5 3.438z"/>
</svg>
{% endmacro %}

{% macro camera() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="currentColor"
    stroke="none"
>
    <path d="M12 16.73q1.567 0 2.649-1.081T15.731 13t-1.082-2.649T12 9.269t-2.649 1.082T8.269 13t1.082 2.649T12 16.731m0-1q-1.165 0-1.948-.783T9.269 13t.783-1.948T12 10.269t1.948.783t.783 1.948t-.783 1.948t-1.948.783M4.616 20q-.691 0-1.153-.462T3 18.384V7.616q0-.691.463-1.153T4.615 6h2.958l1.366-1.485q.217-.242.527-.379Q9.777 4 10.125 4h3.75q.348 0 .659.137q.31.136.527.379L16.428 6h2.958q.69 0 1.153.463T21 7.616v10.769q0 .69-.462 1.153T19.385 20z"/>
</svg>
{% endmacro %}

{% macro calendar() %}
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <rect
        x="3"
        y="4"
        width="18"
        height="18"
        rx="2"
        ry="2"
    />
    <line
        x1="16"
        y1="2"
        x2="16"
        y2="6"
    />
    <line
        x1="8"
        y1="2"
        x2="8"
        y2="6"
    />
    <line
        x1="3"
        y1="10"
        x2="21"
        y2="10"
    />
</svg>
{% endmacro %}
