{% if posts %}
<ol id="post-list">
    {% for post in posts | reverse %}
    <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <div class="info">
            {# 计算预计阅读时间 #}
            <span> {{ post.templateContent | readingTime }} /</span>
            <time datetime="{{ post.date }}">#{{ post.date | formatDate }}</time>
        </div>
    </li>
    {% endfor %}
</ol>
{% endif %}
