<link href="{{ '/pagefind/pagefind-ui.css' | url }}" rel="stylesheet">
<style>
    :root {
      --pagefind-ui-primary: #000;
      --pagefind-ui-text: #000;
      --pagefind-ui-background: #eee;
      --pagefind-ui-border-width: 1px;
      --pagefind-ui-scale: .8;
      --pagefind-ui-border: #e7e7e7;
      {# --pagefind-ui-tag: #152028; #}
      ddd
    }
    html.dark {
      --pagefind-ui-primary: #fff;
      --pagefind-ui-text: #fff;
      --pagefind-ui-background: #111;
      --pagefind-ui-border: #373737;
      {# --pagefind-ui-tag: #152028; #}
    }
    input:focus-visible{
      outline:#878787 1px solid
    }

</style> 

{# search box #}
<div id="search" class="search" style="margin: 1rem 0"></div>
<script src="{{ '/pagefind/pagefind-ui.js' | url }}" onload="new PagefindUI({ element: '#search', showImages: false });"></script>

