---
layout: base.njk
---
<a href="{{ '/' | url }}">{{ site.back_home_text }}</a>

<section id="archieve">
{% set entries = homepage.category %}
{% include "menu.njk" %}
</section>
<a href="{{ '/' | url }}">{{ site.back_home_text }}</a>

<script>
    localStorage.setItem('_HISTORY', JSON.stringify([location.origin + location.pathname]))
</script>
