<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="" type="image/svg+xml">
        <meta
        name="generator" content="{{ eleventy.generator }}">
        {# 不算子站点统计：https://ibruce.info/2015/04/04/busuanzi/ #}
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        {% if site.description %}
            <meta name="description" content="{{ site.description }}">
        {% endif %}
        <title>{{ title or site.title }}</title>
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
        {% if page.url == '/' %}
            <script>
                if (location.hash) 
                    window.location = `/admin/#${
                        location
                            .href
                            .split("#")
                            .pop()
                    }`
            </script>
        {% endif %}
        {# google analysis #}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics_id }}');
        </script>
    </head>
    <body>
        <div id="color-mode" title="change color mode">
            
        </div>
        {{ content | safe }}
        {# <script src="https://cdn.bootcdn.net/ajax/libs/eruda/2.3.3/eruda.min.js"></script>
        <script>eruda.init();</script> #}
        <script>

            /**
            * 设定一些全局变量 - START --------------------------------------------------------------------------
            */

            // 判断是否为生产环境，
            window.__isProduction = window.location.hostname !== 'localhost' && window.location.hostname !== '127.0.0.1';
            // 设置前缀
            window.__PREFIX = window.__isProduction ? '/blog_11ty' : '/';

            /**
            * 设定一些全局变量 - END --------------------------------------------------------------------------
            */

            const colorModeBtn = document.querySelector('#color-mode')
            const DarkBtnColor = '#fff'
            const LightBtnColor = '#000'
            colorModeBtn.addEventListener('click',()=>{
                const hasDarkClass = document.documentElement.classList.toggle('dark')
                if(hasDarkClass){
                    colorModeBtn.style.backgroundColor = DarkBtnColor
                }else{
                    colorModeBtn.style.backgroundColor = LightBtnColor
                }
                localStorage.setItem('mode', hasDarkClass ? 'dark' : 'light')
                updateFavicon(hasDarkClass)
            })

            function setTheme(isDark){
                if(isDark){
                  document.documentElement.classList.add('dark')
                  colorModeBtn.style.backgroundColor = DarkBtnColor
                }else{
                  document.documentElement.classList.remove('dark')
                  colorModeBtn.style.backgroundColor = LightBtnColor
                }
                updateFavicon(isDark)
            }

            function updateFavicon(isDark){
                const link = document.querySelector("link[rel~='icon']");
                link.href = isDark ? `${window.__PREFIX}favicon-dark.svg` : `${window.__PREFIX}favicon-light.svg`;
            }

            function setDefaultThemeColor(){
                // 先看用户有没有历史设定颜色，如果没有，用操作系统默认颜色
                const historySettingMode = localStorage.getItem('mode')
                let isDark = false
                if(historySettingMode){
                    isDark = historySettingMode === 'dark'
                }else{
                    //如果用户没有设置过颜色，那么使用系统默认颜色
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        // dark mode
                        isDark = true
                    }else{
                        isDark = false
                    }
                }
                setTheme(isDark)
            }
            setDefaultThemeColor()


            //监听系统颜色修改
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const isDark = event.matches;
                setTheme(isDark)
                // 移除用户颜色模式设定
                localStorage.removeItem('mode')
            });
        </script>
    </body>
    <footer id="footer">
        {% include "footer.njk" %}
    </footer>
</html>
