---
layout: base.njk
---
<div id="homepage">
<header>
    <h1>{{ homepage.title or site.title }}</h1>
    {# more funny gif can visit:https://tenor.com/search/digital-monsters-gifs  | https://cmang.org/ | https://durdraw.org/ #}
    {# <p class="banner-image">
        <img style="max-height:180px" src="{{ '/media/banner.gif' | url }}"/>
    </p> #}
    {% set subtitle = homepage.subtitle%}
    {% if subtitle %}
        <p>{{ subtitle }}</p>
    {% endif %}
</header>

<main >
    <h2>Recent Posts</h2>

    {% set top = homepage.recentPostsMaxLength %}
    {% set posts = [] %}

    {% set _entries = homepage.menu %}
    {% for _entry in _entries%}
        {% set _posts = collections[_entry.post_list] %}
        {% for _post in _posts %}
            {% set posts = (posts.push(_post), posts) %}
        {% endfor %}
    {% endfor %}

    {# https://stackoverflow.com/a/30497335/12261182 #}

    {% set sorted_posts = posts | sort(true, false, 'date') %}
    {% set posts = sorted_posts.slice(0,top) | reverse  %}
    {% include "post-list.njk" %}

    <p id="more-posts">For more posts, visit <a href="{{ "/archieve/" | url}}">Archieve</a> Page.</p>
</main>
</div>

