<ul>
    {% for entry in entries %}
        <li>
            {% if entry.url %}
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            {% else %}
                <b>{{ entry.title }}</b>
            {% endif %}

            {% if entry.post_list %}
                {% set posts = collections[entry.post_list] %}
                {% if posts %}
                    <ul>
                        {% for post in posts | reverse %}
                            <li>
                                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                                <time datetime="{{ post.date }}">#{{ post.date | formatDate }}</time>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if entry.entries %}
                {% set entries = entry.entries %}
                {% include "menu.njk" %}
            {% endif %}
        </li>
    {% endfor %}
</ul>