---
permalink: /preview/
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        >
        <title>preview</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-previewer@2.1.7/dist/index.css">
        <script src="https://cdn.jsdelivr.net/npm/img-previewer@2.1.6/dist/img-previewer.min.js"></script>

        <style>
            * {
                margin: 0;
                padding: 0;
                /* outline: 1px solid #74ebd5; */
            }
            body {
                height: 100%;
                width: 100%;
                overflow: hidden;
                background-color:#000
            }
            .banner {
                height: 300px;
                width: 100%;
                background: #74ebd5; /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #155b95, #16955c); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(
                    to right,
                    #155b95,
                    #16955c
                ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: #fff;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .banner p {
                color: #f1f1f1;
                margin-top: 15px;
            }
            .banner a {
                margin-top: 15px;
                display: inline-block;
                color: #fff;
                border: 1px solid #f1f1f1;
                padding: 7.5px 15px;
                border-radius: 4px;
                text-decoration: none;
                cursor: pointer;
            }
            .banner a:hover {
                border: 1px solid #c3c3c3;
                color: #c3c3c3;
            }
            .container {
                width: 1000px;
                margin: 0 auto;
                color: #606c71;
            }
            .container h2 {
                font-weight: 500;
                color: #159957;
                margin-top: 25px;
            }
            .container p {
                margin: 7.5px 0;
                line-height: 1.5;
            }

            .container ol {
                margin-top: 15px;
            }
            .container ol,
            .container li {
                line-height: 1.5;
                list-style-position: inside;
            }
            .container pre {
                padding: 15px 10px;
                text-align: left;
                background: #f1f1f1;
                border-radius: 4px;
                margin-top: 15px;
            }
            #app {
                width: 100%;
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
                -webkit-column-gap: 15px;
                -moz-column-gap: 15px;
                column-gap: 15px;
            }
            #app img {
                width: 100%;
                margin: 6px 0;
                opacity:0;
            }
            .img-pre__button-item[data-action=close]{
                display:none!important
            }
            div.img-pre__img-item{
                animation-duration:0s!important
            }
            #J-img-pre__prev,#J-img-pre__next,.img-pre__nums{
                display:none!important
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="app">
                <img
                    id="img"
                    onload="loadImage()"
                    src=""
                    alt=""
                >
            </div>
        </div>

        <script>
            const img = document.querySelector('#img')
            const target = (new URLSearchParams(location.search)).get('url')
            img.src = target
            const a = new ImgPreviewer('#app', {
                scrollbar: true,
                ratio: 0.7,
                imageZoom: {
                    step: 1
                },
                style: {
                    modalOpacity: 0.8
                },
                bubblingLevel: 1,
                i18n: {
                    RESET: 'reset',
                    ROTATE_LEFT: 'rotate left',
                    ROTATE_RIGHT: 'rotate right',
                    CLOSE: 'close',
                    NEXT: 'next',
                    PREV: 'prev'
                },
                onHide() {
                    a.show(0)
                }
            })
            console.log(a)
            function loadImage(){
                a.show(0)
            }
        </script>
    </body>
</html>
