.table-of-contents {
  position: fixed;
  top: 90px;
  bottom: 0;
  font-size: 0.9em;
  left: 20px;
  z-index: 200;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.table-of-contents::-webkit-scrollbar {
  display: none;
}

/* MacBook Pro 14/16 和 1080p 显示器 */
@media (min-width: 1024px) {
  .table-of-contents {
    display: block;
    position: fixed;
    top: 2rem;
    left: 1rem;
    width: calc((100vw - 70ch) / 2 - 2rem);
    max-width: 240px;
    min-width: 160px;
    max-height: calc(100vh - 4rem);
  }
}

/* 较大显示器 2K */
@media (min-width: 1440px) {
  .table-of-contents {
    left: 1.5rem;
    width: calc((100vw - 75ch) / 2 - 3rem);
    max-width: 300px;
  }
}

.table-of-contents-anchor {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  --un-border-opacity: 0.27;
  border-color: rgb(136 136 136 / var(--un-border-opacity));
  border-color: transparent;
  border-radius: 0.25rem;
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  --un-text-opacity: 0.47;
  color: rgb(136 136 136 / var(--un-text-opacity));
  --un-shadow:
    var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  --un-shadow: 0 0 var(--un-shadow-color, rgb(0 0 0 / 0));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.4s;
}

.dark .table-of-contents-anchor {
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity));
}

.table-of-contents > ul {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  padding-bottom: 1.25rem;
  opacity: 0;
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.7s;
}

.table-of-contents > ul::-webkit-scrollbar {
  display: none;
}

*:hover > .table-of-contents > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  color: inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.6;
}

*:hover > .table-of-contents > ul {
  opacity: 0.75;
}

.table-of-contents ul > li:before {
  display: none;
}

.table-of-contents ol {
  padding-inline-start: 0.5rem;
}

.table-of-contents li {
  padding-left: 0.8rem;
  line-height: 1.5em;
  margin-top: 0.5em;
  overflow: hidden;
}

.table-of-contents li a,
.table-of-contents li a:visited,
.table-of-contents li a:active,
.table-of-contents li a:link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  border-bottom: none !important;
  color: inherit;
  opacity: 0.5;
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.table-of-contents li a::after {
  display: none !important;
}

.table-of-contents li a.active,
.table-of-contents li a.active:visited {
  opacity: 1;
  font-weight: 600;
}

.table-of-contents li a:hover {
  opacity: 1;
}
